:root {
  --rouge: #ff0000;
  --rouge-clair: #ff3300ff;
}

body {
  background: linear-gradient(to right, var(--rouge), var(--rouge-clair));
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 0;
  margin-bottom: 1vw;
  font-size: 5vw;
  text-align: center;
}
.box {
  background-color: var(--rouge);
  box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
  border-radius: 5vw;
  border: 0.12vw solid black;
  width: 20vw;
  margin: auto;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  justify-content: space-around;
  text-align: center;
  display: flex;
}
p {
  font-size: 1.25vw;
  font-weight: bold;
}

/*TIMER*/
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5vw 30vw 1.5vw 30vw;
}
#Timer {
  text-align: center;
  background: var(--rouge);
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  border: 0.12vw solid black;
  box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}
#Timer p {
  font-size: 6vw;
}

#configuration {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5vw 30vw 1.5vw 30vw;
}
/*CONTROLS*/
.controls button {
  background-color: transparent;
  border: none;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls button i {
  font-size: 5vw;
}
button:hover {
  color: wheat;
}
button.active {
  color: wheat;
}

/*petits écrans*/
@media (max-width: 768px) {
  h1 {
    font-size: 6vw;
  }
}
/* écran de moins de 480px) */
@media (max-width: 480px) {
  h1 {
    font-size: 8vw;
  }
}
