/* VARIABLES GLOBALES */
:root {
  --rouge: #ff0000;
  --rouge-clair: rgb(255, 65, 0);
}

/* STYLES GLOBAUX */
body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: linear-gradient(to right, var(--rouge), var(--rouge-clair));
}

h1 {
  margin-top: 0;
  margin-bottom: 1vw;
  font-size: 5vw;
  text-align: center;
}

p {
  font-size: 1.25vw;
  font-weight: bold;
}

/* BOX */
#box {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: var(--rouge);
  border-radius: 5vw;
  border: 0.12vw solid black;
  width: 20vw;
  margin: auto;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
}

/* TIMER */
#container,
#configuration {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw 30vw;
  text-align: center;
}

#configuration {
  border: 0.12vw solid black;
  border-radius: 3vw;
  box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
}

#Timer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--rouge);
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  border: 0.12vw solid black;
  box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
}

#Timer p {
  font-size: 6vw;
}

/* FORMULAIRE DE CONFIGURATION */
h2 {
  font-size: 3vw;
}
.divinput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw 2vw 2vw 2vw;
  gap: 4vw;
}
label {
  font-size: 2vw;
}
#travail,
#pause {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* CONTROLES */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls button {
  background-color: transparent;
  border: none;
}

.controls button i {
  font-size: 5vw;
}

button:hover,
button.active {
  color: wheat;
}

/* MEDIA QUERIES - PETITS ECRANS */
@media (max-width: 768px) {
  h1 {
    font-size: 6vw;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 8vw;
  }
}
