body {
  background: linear-gradient(to right, #0000ff, #00ffff);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 8ch;
}
.box {
  background-color: #0000ff;
  box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
  border-radius: 5ch;
  border: 2px, solid, black;
  width: 25%;
  margin: auto;
  padding-top: 1ch;
  padding-bottom: 1ch;
  justify-content: space-around;
  text-align: center;
  display: flex;
}
p {
  font-size: large;
  font-weight: bold;
}
.container {
  background-color: #0000ff;
  border: 2px, solid, black;
  box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
  margin: 5ch 30ch 5ch 30ch;
}
.controls button {
  background-color: transparent;
  border: none;
}
button:hover {
  color: wheat;
}
button.active {
  color: wheat;
}
